:root {
    // Container sizes
    --container-width: 75rem;
    --container-width-large: 90rem;
    --container-width-small: 40rem;

    // Colors
    --clr-orange-400: #fe5000;
    --clr-orange-600: #cb4000;
    --clr-grey-400: #696969;
    --clr-grey-100: #f6f5f5;
    --clr-black: #000;
    --clr-white: #fff;
}
